{#
/**
 * @file airdate.html.twig
 * Default theme implementation to present Airdate data.
 *
 * This template is used when viewing Airdate pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_airdate()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('airdate') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
